{% extends base.html %} 

{% block styles %}
<link rel="stylesheet" href="{{ static_url("styles.css") }}" type="text/css"> 
{% end %} 

{% block content %}
<div class="container">
    <a href="https://www.github.com/bukovyn/tornapi"><img id="logo" src="{{ static_url("img/tornapi.png") }}" alt="tornapi" border="0"></a>
    <p>Test it with <b><a href="https://www.getpostman.com/">Postman</a></b>.
        Make sure the content-type of the request is '<b>application/json</b>'.</p>
    <p><b> Spoof one of the requests to the appropriate endpoint
  and ensure that the body of the request follows the same template as specified in the table below.</b></p>
    <table class="table">
        <thead>
            <tr>
                <th class="column" style="width:25%">METHOD</th>
                <th class="column">ENDPOINT</th>
                <th class="column">Request Body Template</th>
            </tr>
        </thead>
        <tbody>
            <tr class="default">
                <td>GET</td>
                <td>/students
                    <br> /students/[0-9]+
                </td>
                <td><code>null</code></td>
            </tr>
            <tr class="default">
                <td style="color:orange">POST</td>
                <td>/students</td>
                <td><img src="{{ static_url("img/post.png") }}"></td>
            </tr>
            <tr class="default">
                <td style="color:green">PUT</td>
                <td>/students</td>
                <td><img src="{{ static_url("img/put.png") }}"></td>
            </tr>
            <tr class="default">
                <td style="color:red">DELETE</td>
                <td>/students</td>
                <td><img src="{{ static_url("img/delete.png") }}"></td>
            </tr>
            <tr class="default">
                <td colspan="3"><i>All request body's support multiple keys, simply add a key with a different id. For instance... the 'DELETE' method - </i><code>{ "1":{}, "2":{}, "3":{} }</code></td>
            </tr>
        </tbody>
    </table>
</div>
{% end %}